// HTML5 Boilerplate + Normalize
//= require "_vendor/normalize.css"
//= require "_vendor/html5bp.css"

// VARIABLES
$glyphicons-font-path:    "/fonts";
$font-family-sans-serif:  "proxima-nova", sans-serif;
$secondary-sans-serif: "open-sans", $font-family-sans-serif;

$sansFontFamily:  $font-family-sans-serif;
$gridColumnWidth1200: 60px;
$gridGutterWidth1200: 20px;


// BOOTSTRAP + OVERRIDES
@import "_bootstrap";

// BASE STYLES
body, html { height: 100% !important; margin: 0; padding: 0; }
body { 
  background: #E4E7E7;
}

h1, h2, h3 { margin: 0; }
h1, h2 {
  color: #fff; 
  font-size: 37px;
  font-weight: 700;
  text-shadow: rgba(0,0,0,.27) 0 1px 1px;
} 
h3 {
  font-size: 22px;
  color: #fff;
  opacity: .5;
  font-family: $secondary-sans-serif;
  font-weight: 600;
  text-shadow: rgba(0,0,0,.53) 0 1px 1px;
}
h4 {
  font-size: 24px;
  color: #181818;
  font-weight: 600;
}
p {
  font-size: 15px;
  color: #6b6e6e;
  line-height: 1.8em;
}

// MODULES 
@import "_modules/page-header";
@import "_modules/screen";
@import "_modules/media-gallery";
@import "_modules/carousel";
 
// LAYOUTS
@import "_layouts/welcome";  
@import "_layouts/callout";    
@import "_layouts/about"; 
@import "_layouts/work";
