<div class="screen screen-browser">
  <div class="screen-toolbar btn-toolbar">
    <div class="btn-group">
      <i class="glyphicon-pause glyphicon"> </i>
    </div>
    <div class="btn-group seek-bar">
      <i class="playhead"> </i>
    </div>
    <div class="btn-group">
      <i class="glyphicon-volume-up glyphicon"> </i>
    </div>
  </div>
  <div class="screen-viewer">
    <img src="<%= src %>">
  </div>
</div>