<div class="screen screen-phone">
  <div class="screen-toolbar btn-toolbar">
    <div class="btn-group">
      <i class="glyphicon-signal glyphicon"> </i>
      <span class="time">12:00</span>
    </div>
  </div>
  <div class="screen-viewer">
    <img src="<%= src %>">
  </div>
</div>