<div class="screen screen-browser">
  <div class="screen-toolbar btn-toolbar">
    <div class="btn-group pull-right">
      <i class="glyphicon-minus glyphicon"> </i>
      <i class="glyphicon-unchecked glyphicon"> </i>
      <i class="glyphicon-remove glyphicon"> </i>
    </div>
  </div>
  <div class="screen-viewer">
    <img src="<%= src %>">
  </div>
</div>