<div class="screen screen-browser">
  <div class="screen-toolbar btn-toolbar">
    <div class="btn-group">
      <i class="glyphicon-chevron-left glyphicon"> </i>
      <i class="glyphicon-chevron-right glyphicon"> </i>
    </div>
    <div class="btn-group address-bar">

    </div>
    <div class="btn-group">
      <i class="glyphicon-remove glyphicon"> </i>
    </div>
  </div>
  <div class="screen-viewer">
    <img src="<%= src %>" rel="view larger">
  </div>
</div>