.carousel-controls {
  
  position: fixed;
    display: block;
    left: 10px;
    right: 10px;
    top: 50%;
    margin-top: -20px;
    opacity: 0;
    @include transition(opacity 0.5s);

  &.affix {
    opacity: .7;
  }

  &:hover {
    opacity: 1;
  }

  .left, .right {
    position: absolute;
    color: rgba(255,255,255,.55);
    font-size: 18px;
    font-weight: 100;
    background: rgba(255,255,255,.1);
    padding: 8px;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,.35);

    height: 36px;
    width: 36px;
    line-height: 40px;
    padding: 0;
    @include box-sizing(border-box);
    text-align: center;

    &:hover {
      text-decoration: none;
      color: #f14d3e;
      background: rgba(255,255,255,.9);
    }
  }

  .left {
    left: 0px;
    top: 5px;
  }

  .right {
    right: 0px;
    top: 5px;
  }
}

.carousel-inner {

  > .item {
    display: none;
    opacity: 0;
    position: relative;
    @include transition((.6s ease-in-out opacity, .6s ease-in-out left));

  }

  > .active,
  > .next,
  > .prev { display: block; }

  > .active {
    left: 0; opacity: 1;
  }

  > .next,
  > .prev {
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 1;
  }

  > .next {
    left: 100%;
  }
  > .prev {
    left: -100%;
  }
  > .next.left,
  > .prev.right {
    left: 0;
  }

  > .active.left {
    left: -100%;
    opacity: 0;
  }
  > .active.right {
    left: 100%;
    opacity: 0;
  }

}