.media-gallery {
  padding-top: 50px;
  padding-bottom: 50px;

  .slide {
    position: relative;
    .make-row();
  }

  .media {
    position: relative;
    .make-row();
    overflow: visible;
  }

  .stacked-large-small {
    .stacked-large {
      .make-column(9);
      padding: 0;
    }

    .stacked-small {
      width: 31%;
      min-width: 150px;
      position: absolute;
      right: 0;
      bottom: -20px;
    }

  }

  .description {
    clear: both;
    max-width: 666px;
    padding-top: 55px;
    padding-bottom: 15px;
  }

}