---
title: Champion Boxing Fitness
tags: Web
description: Champion offers a kickboxing workout that mimics champion fighters, designed for those who expect to be pushed harder then what typical gyms offer. 
style: light
media_well: /images/work/champion/champion.large.jpg
published: false
---

<div class="media-gallery">

    <div class="side-by-side slide">
      <div class="media">
        <div class="side span8">
          <%= partial("partials/screen_browser", :locals => { :src => "/images/work/champion/screen.1.jpg" }) %>
        </div>
        <div class="side span4">
          <%= partial("partials/screen_browser", :locals => { :src => "/images/work/champion/screen.2.jpg" }) %>
        </div>
        <div class="side span4">
          <%= partial("partials/screen_browser", :locals => { :src => "/images/work/champion/screen.3.jpg" }) %>
        </div>
      </div>

      <div class="description default container">
        <h4>Digital rebranding of a nationally ranking health club</h4>
        <p>
          Baltimore based eCoastStudios reached out to me to create the digital rebranding for Fitness First Health Clubs. We made it easier to find locations, revolutionized the process of viewing schedules, and branded a nationally ranked top 30 chain to be ahead of the digital curve.
        </p>
      </div>

    </div>

</div>
