---
title: Fitness First Clubs
tags: Web &amp; Mobile
description: Fitness First inspires members to achieve their fitness goals with the finest fitness equipment, knowledgeable instructors and a safe, fun and friendly atmosphere. 
style: dark
media_well: /images/work/fitnessfirst/media-well.jpg
published: false
---

<div class="media-gallery">

    <div class="stacked-large-small slide">
      <div class="media">
        <div class="stacked-large">
          <%= partial("partials/screen_browser", :locals => { :src => "/images/work/fitnessfirst/web-1.jpg" }) %>
        </div>
        <div class="stacked-small">
          <%= partial("partials/screen_phone", :locals => { :src => "/images/work/fitnessfirst/mobile-1.jpg" }) %>
        </div>
      </div>

      <div class="description default container">
        <h4>Digital rebranding of a nationally ranking health club</h4>
        <p>
          Baltimore based eCoastStudios reached out to me to create the digital rebranding for Fitness First Health Clubs. We made it easier to find locations, revolutionized the process of viewing schedules, and branded a nationally ranked top 30 chain to be ahead of the digital curve.
        </p>
      </div>

    </div>

</div>
