---
title: Chulado Interactive
tags: Interactive
type: project
description: 

link_url: http://chulado.com
preview_url: /images/work/chulado-2.jpg
preview_large: true
preview_large_url: /images/work/large/chulado.jpg

published: true

---
<div class="work-section background-11" style="max-height: 680px;">
  <div class="container">
    <img src="/images/work/chulado-large.png">
  </div>
</div>
<div class="work-section">
  <div class="container">
    <h2>Chulado Web Agency</h2>
    <h3>Creative direction and design</h3>
    <a href="http://chulado.com" class="btn btn-default" target="_blank">coming soon</a>
  </div>
</div>