---
title: Fitness First Clubs
tags: Web &amp; Mobile
description: Fitness First inspires members to achieve their fitness goals with the finest fitness equipment, knowledgeable instructors and a safe, fun and friendly atmosphere. 
media_well: /images/work/fitnessfirst/media-well.jpg
---

<div class="media-gallery">
  <div class="slide stacked-large-small">
    <div class="stacked-large">
      <%= partial("partials/screen_browser", :locals => { :src => "/images/work/fitnessfirst/web-1.jpg" }) %>
    </div>
    <div class="stacked-small">
      <%= partial("partials/screen_phone", :locals => { :src => "/images/work/fitnessfirst/mobile-1.jpg" }) %>
    </div>
  </div>
</div>
