---
title: Fitness First Clubs
type: project
tags: Web &amp; Mobile
description: Fitness First inspires members to achieve their fitness goals with the finest fitness equipment, knowledgeable instructors and a safe, fun and friendly atmosphere. 

link_url: http://fitnessfirstclubs.com
preview_url: /images/work/fitnessfirst/web-1.jpg
preview_large: true
preview_large_url: /images/work/fitnessfirst/web-1-large.jpg

published: true

---
<div class="work-section background-6" style="max-height: 475px;">
  <div class="container">
    <img src="/images/work/fitnessfirst/placeit.png">
  </div>
</div>
<div class="work-section">
  <div class="container">
    <h2>Fitness First Health Clubs</h2>
    <h3>Creative direction and development</h3>
    <a href="http://fitnessfirstclubs.com" class="btn btn-default" target="_blank">visit</a>
  </div>
</div>