---
title: Ember.Synch - A simple Ember client library for Centrifuge
tags: Open-source, Javascript
description: 

published: false

---
<p>
I recently came across <a href="https://github.com/FZambia/centrifuge">Centrifuge</a>, a Python based real-time messaging server similar to Pusher or other Pubnub services. With it's own admin UI and javascript library, it is an intriguing solution for those wanting to run their own Pusher server. A client project presented the need, so I started writing an Ember-based client library, Ember.Synch.
</p>

<p>
Synch is still in its infancy, but my goal is to create a simple library wrapper that is a data-sync layer that can work alongside Ember-Data or vanilla Ember objects.
</p>