<div class="container about-container">

  <dl class="capabilities-list">
    <dt>Film</dt>
    <dd>Cinematography, Motion, Editing, Color Grading</dd>

    <dt>Interactive</dt>
    <dd>Design, UI & UX, Mobile Development, Application Development</dd>

    <dt>Misc</dt>
    <dd>Photography, golf, coffee, cycling</dd>
  </dl>

  <ul class="nav nav-pills">
    <li><a href="#">
      <i class="glyphicon glyphicon-film"> </i>
      Reel
    </a></li>

    <li><a href="#">
      <i class="glyphicon glyphicon-envelope"> </i>
      Email
    </a></li>

    <li><a href="#">
      <i class="glyphicon glyphicon-list-alt"> </i>
      Resume
    </a></li>
  </ul>

</div>