<div class="profile-container container">

  <div class="profile-bits">

    <div class="profile-bit about" id="profile-about">
      <i class="header-icon icon icon-map"> </i>
      <h2>About</h2>

      <p>I am Conrad VanLandingham, an artist and technologist based in Dallas, Texas. I also enjoy golfing, mountain biking, and photography.</p>

      <a class="btn btn-default" href="https://medium.com/@conrad_vanl"><i class="icon icon-medium"> </i>musings</a>
    </div>

    <div class="profile-bit philosophy" id="profile-philosophy">
      <i class="header-icon icon icon-user"> </i>
      <h2>Craft</h2>

      <p>My capabilities don’t fit into a few neat categories: I can build, shoot, write, code, and concept ideas for just about any type of screen.</p>

      <a class="btn btn-default" href="http://dribbble.com/conrad-vanl"><i class="icon icon-dribbble"> </i>recent work</a>
    </div>

    <div class="profile-bit employment" id="profile-employment">
      <i class="header-icon icon icon-trophy"> </i>
      <h2>Work</h2>

      <p>At Differential, we rapidly unlock value by building world class software products with startup partners and corporate innovators.</p>

      <a class="btn btn-default" href="http://differential.com">Differential</a>
    </div>

  </div>


  <div class="connect">

    <h2>Connect</h2>

    <ul class="connect-nav nav" role="navigation">
      <li class="connect-dribbble">
        <a href="http://dribbble.com/conrad-vanl" class="connect-btn"><i class="icon-dribbble"> </i></a>
      </li>
      <li class="connect-medium">
        <a href="https://medium.com/@conrad_vanl" class="connect-btn"><i class="icon-medium"> </i></a>
      </li>
      <li class="connect-github">
        <a href="http://github.com/conrad-vanl" class="connect-btn"><i class="icon-github"> </i></a>
      </li>
      <li class="connect-linkedin">
        <a href="http://www.linkedin.com/pub/conrad-vanlandingham/40/5b1/542" class="connect-btn"><i class="icon-linkedin"> </i></a>
      </li>
      <li class="connect-email">
        <a href="mailto:knrsh23" class="connect-btn" data-squaresend="mailto:knrsh23"><i class="icon-mail"> </i></a>
      </li>
    </ul>

  </div>

</div>