<div class="profile-container container">

  <div class="profile-bits">

    <div class="profile-bit about" id="profile-about">
      <i class="header-icon icon icon-map"> </i>
      <h2>About Me</h2>

      <p>My name is Conrad Vanlandingham. I am a proud Texan that relocated to Chicago with the love of my life. Outside of work, I like to play golf, mountain bike, and take photos.</p>

    </div>

    <div class="profile-bit philosophy" id="profile-philosophy">
      <i class="header-icon icon icon-users"> </i>
      <h2>Philosophy</h2>

      <p>Digital is not just a screen; it is real human interaction. All experiences (whether digital or not) need to create powerful connections and turn viewers into users.</p>

      <a class="btn btn-default" href="#work">Work</a>
    </div>

    <div class="profile-bit employment" id="profile-employment">
      <i class="header-icon icon icon-trophy"> </i>
      <h2>Employment</h2>

      <p>I work for CrowdHall, a crowd sourced conversation platform. It is built on the idea that public discourse with high-profile people doesn’t have to be one sided.</p>

      <a class="btn btn-default" href="http://crowdhall.com">CrowdHall</a>
    </div>

  </div>


  <div class="connect">

    <h2>Connect</h2>

    <ul class="connect-nav nav" role="navigation">
      <li class="connect-dribbble">
        <a href="http://dribbble.com/conrad-vanl" class="connect-btn"><i class="icon-dribbble"> </i></a>
      </li>
      <li class="connect-github">
        <a href="http://github.com/conrad-vanl" class="connect-btn"><i class="icon-github"> </i></a>
      </li>
      <li class="connect-linkedin">
        <a href="http://www.linkedin.com/pub/conrad-vanlandingham/40/5b1/542" class="connect-btn"><i class="icon-linkedin"> </i></a>
      </li>
      <li class="connect-email">
        <a href="mailto:" class="connect-btn"><i class="icon-mail"> </i></a>
      </li>
    </ul>

  </div>

</div>