<div class="start-container container">

  <div class="conrad-intro">
    <img src="/images/profile.jpg" class="conrad-intro-profile">
    <h1>Conrad VanLandingham.</h1>
    <h2>interactive strategy, full-stack web development, creative design</h2>

    <div class="conrad-intro-more-btn">
      <a href="#profile" class="btn btn-default">More</a>
    </div> 
  </div>

</div>