<div class="welcome-container container">

  <header class="welcome-header page-header">
    <h1>Building happiness</h1>
    <h3><i>Conrad VanLandingham</i></h3>
  </header>

  <div class="welcome-screens">
    <%= partial("partials/screen_browser", :locals => { :src => "http://placehold.it/535x300" }) %>
    <%= partial("partials/screen_video", :locals => { :src => "http://placehold.it/535x300" }) %>
    <%= partial("partials/screen_desktop", :locals => { :src => "http://placehold.it/535x300" }) %>
  </div>
</div>