<div class="work-container container">

  <h2>a mix of my interactive work</h2>
  <h3>and other things I take credit for</h3>

  <!--<% blog.articles.each_with_index do |article, i| %>
    <div class="work-article">
      <h2><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></h2>
    </div>
  <% end %>-->

  <div class="work-articles">
    <% 14.times do |i| %>
      <div class="work-article">
        <a href="#">
          <img src="images/mac-screen.jpg">
        </a>
      </div>
    <% end %>
  </div>

</div>