<div class="container work-container">

<% page_articles.each_with_index do |article, i| %>
  <article class="work-article">
  <h2><%= article.title %></h2>
  <h3><%= article.data.tags %></h3>
  <%= article %>
  </article>
<% end %>

</div>