<div class="work-container container">

  <h2>some of my work</h2>
  <h3>including interactive, video, print, photography, and other things I take credit for</h3>


  <div class="work-articles">
    <% blog.articles.each_with_index do |article, i| %>

      <div class="work-article">
        <% link_to article.data.link_url do %>
          <div class="img-container"><%= image_tag article.data.preview_url %></div>

          <div class="caption-container">
            <div class="caption">
              <% if article.data.icon_class %>
                <i class="work-article-icon <%= article.data.icon_class %>"> </i>
              <% end %>

              <h3 class="title"><%= article.data.title %></h3>
              <p class="tags"><%= article.data.tags %></p>
            </div>
          </div>
        <% end %>
      </div>

    <% end %>
  </div>

</div>