---
pageable: false
per_page: 10
---

<div class="background-container"> </div>

<section id="start" class="wrapper">
  <%= partial "sections/start" %>
</section>

<section id="profile" class="wrapper">
  <%= partial "sections/profile" %>
</section>

<section id="work" class="wrapper">
  <%= partial "sections/work" %>
</section>

